.carousel-caption{
  background-color: rgba(0,0,0,0.3);
  color: white;
}
.description_experiences
{
  text-align: center;
  margin-top: 10px;
}
.container_carousel
{
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}
.container_carousel h2
{
  text-align: center;
}
