<div class='row full_container'>
  <div class='col-2 profile'>
    <div class='container_profile row'>
      <app-profile></app-profile>
    </div>
  </div>
  <div class='col-10 container'>
    <div class='fat_details'>
      <div class='container_fat_details'>
        <div class='img_profile_header'></div>
        <div class='container_details container'>
        </div>
      </div>
    </div>
    <div class='experiences_container'>
      <app-experiences></app-experiences>
    </div>
  </div>
