.profile
{
  border: none;
  height: 100%;
  padding-right: 0;
  color: black;
  background-color: white;
}
.full_container
{
  position: absolute;
  height: 100%;
  width: 100%;
}

.experiences_container{
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}
.fat_details
{
  height: 400px;
  background: white;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
  background: url('/assets/images/mountain_1.jpg') no-repeat;
  background-size: cover;
  background-position-y: 50%;
  position: relative;
}
.container_fat_details
{
  padding: 20px;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.4);
}
.container_profile
{
  width: 100%;
  margin: 0;
  padding: 10px;
}
.container_img_fd
{
  padding: 10px;
  background: rgba(255,255,255,0.7);
}
.container_img_fd img{
  border-radius: 5px;
}
.container_details
{
  position: relative;
  height: 100%;
  width: 100%;
}
.container_details img{
  height: 100%;
}
.child_cd
{
  position: relative;
  height: 100%;
  width: 100%;
}
.img_profile_header
{
  background: url('/assets/images/nsehnoun.jpg') no-repeat;
  height: 100%;
  width: 20%;
  position: absolute;
  transform: translateY(50%);
  z-index: 10000;
  background-size: cover;
  border-radius: 5px;
  background-position-x: 50%;
}
