<!--The content below is only a placeholder and can be replaced.-->
<div class='container'>

 <h1>
  I am {{ title }}.
</h1>
<ngb-tabset class='principal_tab'>
    <ngb-tab title="Details">
    <div layout-align="center">
      <ng-template ngbTabContent>
        <app-profile></app-profile>
      </ng-template>
      </div>
    </ngb-tab>
    <ngb-tab title="Diplomas">
     <ng-template ngbTabContent>
     <app-diplomas></app-diplomas>
     </ng-template>
   </ngb-tab>
   <ngb-tab title="Skills">
     <ng-template ngbTabContent>
     <app-skills></app-skills>
     </ng-template>
   </ngb-tab>
 </ngb-tabset>

</div>

