.center h1, .center h3
{
	text-align: center;
	color: black;
}
.container_exp .adc img
{
	width: 100%;
}
.other_exp
{
	margin-top: 10px;
}
.other_exp img
{
	width: 100%;
}
.container_overlay_exp
{
	position: relative;
}
.overlay_exp
{
	display: none;
	position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
}
.description_exp
{
	position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
}
.container_img_exp
{
}
.container_exp
{
}